[class*="square"],
[class*="img"] {
    transition: 2s;
}

.ex-6-img {
    transition: none;
}

/*first-exercise*/
.ex-1-square:hover {
    background-color: red;
}

/*second-exercise*/
.ex-2-square:active {
    width: 100%;
}

/*third-exercise*/
.ex-3-square:hover {
    border-radius: 100%;
}

/*fourth-exercise*/
.ex-4-square:hover {
    opacity: 0;
}

/*fiveth-exercise*/
.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/*sixth-exercise*/
.ex-6-img:hover {
    filter: grayscale(1);
}

/*sixth-exercise*/
.ex-7-img:hover {
    filter: brightness(60%) sepia(80%);
}

/*eightth-exercise*/
.ex-8-img:hover {
    filter: brightness(150%) grayscale(60%);
    border-radius: 25px;
}

/*nineth-exercise*/
.ex-9-img:hover {
    filter: invert(20%) sepia(30%);
    border-radius: 25px;
    transform: scale(1.5);
}

/*tenth-exercise*/
.ex-10-icon {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*eleventh-exercise*/
.ex-11-icon:hover {
    animation: rotation-minus 1s linear infinite;
}

@keyframes rotation-minus {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(calc(360deg - 90deg));
    }

    100% {
        transform: rotate(0deg);
    }
}

/*twelfth-exercise*/
.ex-12-button:hover .ex-12-top-white {
    animation: top-white-12 1s linear infinite;
}

@keyframes top-white-12 {
    0% {
        left: 10%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-white-12 1s linear infinite;
}

@keyframes bottom-white-12 {
    0% {
        right: 10%;
    }

    50% {
        right: 60%;
    }

    100% {
        right: 10%;
    }
}
.ex-13-button:hover .ex-13-top-white {
    animation: top-white-13 2s linear infinite;
}

@keyframes top-white-13 {
    0% {
        left: -5%;
        top: -5%;
    }

    25% {
        left: 80%;
        top: -5%;
    }
    50%{
        left:80%;
        top: 100%;
    }
    75%{
        left:-5%;
        top: 100%;
    }

    100% {
        left: -5%;
        top: -5%;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-white-13 2s linear infinite;
}

@keyframes bottom-white-13 {
    0% {
        right: -5%;
        bottom: -5%;
    }

    25% {
        right: 80%;
        bottom: -5%;
    }
    50%{
        right:80%;
        bottom: 100%;
    }
    75%{
        right:-5%;
        bottom: 100%;
    }

    100% {
        right: -5%;
        bottom: -5%;
    }
}